<div class="orders view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;All payments for customer XXXX</h3>
        </header>
        <br />
        <div class="customerEdit">
            <h2>Hello , das ist order payments</h2>
            <p>
                <div>
                    <!--{{ vm.errorMessage }}-->
                </div>
            </p>
            <!--<div class="statusRow">
                <br />-->
            <div class="text-danger" data-ng-show="vm.errorMessage">
                <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
            </div>
            <!--</div>-->
        </div>


    </div>
</div>