<div class="orders view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;All payments for order {{ vm.order.id}} by payment {{ vm.order.payment.firstName }} {{ vm.order.payment.lastName }} </h3>
        </header>
        <br />
        <div class="customerEdit">
            <!--<h2>Hello , das ist order payments</h2>-->

            <div class="row">
                <div class="col-md-2">
                    Product:
                </div>
                <div class="col-md-2">
                    <strong> <span>{{vm.order.product}}</span></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    Price:
                </div>
                <div class="col-md-2">
                    <strong> <span>{{vm.order.price | currency}}</span></strong>
                </div>
            </div>

            <br />
            <h4>Payments</h4>


            <table class="table table-hover table-striped table-condensed table-bordered ordersTable">
                <thead>
                    <tr>
                        <th data-ng-click="vm.setOrder('product')">Date</th>
                        <th data-ng-click="vm.setOrder('date')">Payment Type</th>
                        <!--<th data-ng-click="vm.setOrder('quantity')">Quantity</th>
                        <th data-ng-click="vm.setOrder('price')">Unit Price</th>
                        <th>Payments</th>
                        <th data-ng-click="vm.setOrder('orderTotal')">Total</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="paym in vm.order.payments">
                        <td>{{paym.date | date : "dd/MM/yyyy HH:mm"}}</td>
                        <td>{{paym.paymentType}}</td>
                    </tr>
                </tbody>
            </table>

            <!--<div class="statusRow">
            <br />-->
            <div class="text-danger" data-ng-show="vm.errorMessage">
                <span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error: {{ vm.errorMessage }}
            </div>
            <!--</div>-->
        </div>


    </div>
</div>