<div class="payments view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;All Payment Orders.</h3>
        </header>

        <br />

        <div>
            <a data-ng-click="vm.navigate('/paymentedit/0')">
                <span class="glyphicon glyphicon-plus"></span> Add Customer
            </a>
        </div>
        <br />

        <div class="customerEdit">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="navbarText col-sm-2">Filter by Name/Product:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control novalidate"
                               data-ng-model="vm.searchText"
                               data-ng-change="vm.searchTextChanged()" />
                    </div>
                </div>
            </form>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 repeat-animation">

                    <table class="table table-hover table-striped table-condensed table-bordered ordersTable">
                        <thead>
                            <tr>
                                <th data-ng-click="vm.setOrder('orderId')">Product</th>
                                <th data-ng-click="vm.setOrder('paymentType')">PaymentType</th>
                                <th data-ng-click="vm.setOrder('date')">Completition Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody data-ng-repeat="paym in vm.filteredPayments | orderBy:vm.orderby:vm.reverse ">
                            <tr>
                                <td>
                                    {{paym.order.id}}
                                </td>
                                <td>
                                    {{paym.paymentType}}
                                </td>
                                <td>
                                    {{paym.date | date:'MM/dd/yyyy @ h:mma'}} <!--<a href="#/paymentorders/{{payment.id}}">{{ payment.firstName + ' ' + payment.lastName }}</a>-->
                                </td>
                                <td>
                                    <a href="#/paymentedit/{{paym.id}}">Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="row show-hide-animation" data-ng-show="vm.filteredPayments.length == 0">
            <div class="col-md-12">
                <h4>No payments found</h4>
            </div>
        </div>
        <div class="row show-hide-animation" data-ng-show="vm.payments.length > 0" style="margin-left:0px;">
            <div class="col-md-12">
                <div data-pagination
                     data-on-select-page="vm.pageChanged(page)"
                     data-total-items="vm.totalRecords"
                     data-page="vm.currentPage"
                     data-boundary-links="true"
                     class="pagination-sm">
                </div>
                <h5>Showing {{ vm.filteredCount }} of {{ vm.totalRecords}} total records</h5>
            </div>
        </div>
    </div>


</div>
</div>

